@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400;500;600;700&display=swap');
p,h1,a{
    font-family: 'M PLUS 2', sans-serif;
}
header{
    background-image: url(img/back_pc.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-box{
    height: fit-content;
    margin-top: 5rem;
    border-radius: 50px;
    padding: 7%;
    box-shadow: 25px 25px 5px #00000052;
}
.main-box p{
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 7px;
    line-height: 4vw;
}
.movie{
    margin-bottom: -10%;
    margin-top: 10%;
    position: relative;
}
iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: solid 10px #0e52a4;
}
footer{
    background-image: url(img/foot.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.foot{
    padding-top: 15% !important;
    padding-bottom: 10% !important;
}
.foot h1{
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 3vw;
}
.foot p{
    font-size: 1vw;
    letter-spacing: 2px;
    line-height: 2vw;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}
.links a{
    color: #fff;
    font-size: 1vw;
    /* text-decoration: none; */
}

@media screen and (max-width:991px) {
header{
    background-image: url(img/back_pc.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-box{
    height: fit-content;
    margin-top: 2rem;
    border-radius: 50px;
    padding: 5%;
    box-shadow: 25px 25px 5px #00000052;
}
.main-box p{
    font-size: 3.5vw;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 150%;
}
.movie{
    margin-bottom: -10%;
    margin-top: 10%;
    position: relative;
}
iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: solid 10px #0e52a4;
}
footer{
    background-image: url(img/foot.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.foot{
    padding-top: 15% !important;
    padding-bottom: 15% !important;
}
.foot h1{
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 6vw;
}
.foot p{
    font-size: 3.5vw;
    letter-spacing: 1px;
    line-height: 5.5vw;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}
.links a{
    color: #fff;
    font-size: 3.2vw;
    /* text-decoration: none; */
}
}